@tailwind base;
@tailwind components;
@tailwind utilities;



.percent {
  backdrop-filter: blur(1px) saturate(181%);
  -webkit-backdrop-filter: blur(1px) saturate(181%);
  background-color: rgba(80, 227, 194, 0.11);
  border-radius: 50px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background;
  }
}

.dark_mode {
  margin-top: 0px;
  
}

.dark_mode_label {
  width: 44px;
  height: 75px;
  position: relative;
  display: block;
  border-radius: 200px;

  cursor: pointer;
  transition: 0.3s;
}
.dark_mode_label:after {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  top: 5px;
  left: 8px;
  background: linear-gradient(180deg, #34CAA5, #34CAA5);
  border-radius: 180px;
  
  transition: 0.3s;
}
.dark_mode_input {
  width: 0;
  height: 0;
  visibility: hidden;
}
.dark_mode_input:checked + .dark_mode_label {
  background: #fff;
}
.dark_mode_input:checked + .dark_mode_label:after {
  top: 70px;
  transform: translateY(-100%);
  background: linear-gradient(180deg, #34CAA5, #34CAA5);
}
.dark_mode_label:active:after {
  width: 35px;
}

.dark_mode_label svg {
  position: absolute;
  width: 25px;
  top: 6px;
  z-index: 100;
}
.dark_mode_label svg.moon {
  left: 10px;
  fill: #fff;
  transition: 0.3s;
}
.dark_mode_label svg.sun {
  left: 10px;
  top: 40px;
  fill: #fff;
  transition: 0.3s;
}
.dark_mode_input:checked + .dark_mode_label svg.sun {
  fill: #fff;
}
.dark_mode_input:checked + .dark_mode_label svg.moon {
  fill: #fff;
}


:is(.dark .dark\:bg-\[var\(--background\)\]) {
  background-color: var(--background);
}